
<div class="container-fluid" id="game_space">
    <h1 class="text-center white">Word Wars?</h1>
	<div id='stars'></div>
  	<div id='stars2'></div>
  	<div id='stars3'></div>
	<!--<div class="row">
        <div class="col-md-12" id="word_space">
            <span class="wordTargetDetails wordTargetAnimate8 word-x1">apples</span>
            <span class="wordTargetDetails wordTargetAnimate8 word-x2">oranges</span>
            <span class="wordTargetDetails wordTargetAnimate8 word-x3">cats</span>
            <span class="wordTargetDetails wordTargetAnimate8 word-x4">{{word1}}</span>
            <span class="wordTargetDetails wordTargetAnimate8 word-x5">{{word2}}</span>
            
        </div>
    </div>-->

    <div class="row" >
        <div class="col col-lg-12" id="row1">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row2">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row3">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row4">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row5">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row6">
    
        </div>
    </div>


    <!-- todo: add error/success classes when typing! -->
    <div class="form-group">
        <label for="query" class="sr-only">Target</label>
        <input type="text" class="form-control noEnterSubmit" id="query" placeholder="Load Your Word Gun!" autocomplete="off">
    </div>
</div>

<div class="container">
    
    <input class="box">
    <button id="pushMe">Make Div</button>
</div>
